@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.noscroller::-webkit-scrollbar {
    display: none;
}







































.hid_text_elips {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}